body{background-color: rgb(189, 171, 234);

}

div.paragraphs{ font-size: large;
                font: bold;
                
}

#para1{color: rgb(36, 21, 132);
        font-family:'Times New Roman', Times, serif;
}

       


#para2{color: rgb(39, 24, 154);


}

.title{color: rgb(40, 0, 141);
        font-size:x-large;
        font-family: 'Franklin Gothic Medium',
         'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        text-decoration: underline;

}

.small-note{color: rgb(40, 0, 141);
            font-style: italic;
            font-family:'Times New Roman', Times, serif;  
}

.name{color: rgb(22, 10, 95);}

.age{color: rgb(22, 10, 95);}

.DOB{color: rgb(22, 10, 95);}

.country{color: rgb(22, 10, 95);}

.fun-fact{color: rgb(22, 10, 95);}



